.header-message{
  text-align: center;
  background-color: red;
}
.offers{
  text-align: center;
  padding: 15px;

}
.offers h1{
  font-size: 3.5rem;
  font-weight: 500;
}
.offers p{
  font-size: 2rem;
  font-weight: 300;
}
.header-btn{
  margin: 10px;
}