/* Header Section Start */
.header-message {
  text-align: center;
}
.offers {
  text-align: center;
  padding: 15px;
}
.offers h1 {
  font-size: 3.5rem;
  font-weight: 500;
}
.offers p {
  font-size: 2rem;
  font-weight: 300;
}
.header-btn {
  margin: 10px;
}
.header-carousal img {
  width: 300px;
  margin: 40px auto 0;
  border-radius: 10px;
  box-shadow: 3px 5px 5px #21409a;
}
/* Header Section End */
/* Products Seection Start */
.produccts {
  text-align: center;
  padding-bottom: 3%;
}
.Categories {
  padding-bottom: 3%;
  margin: 0 auto;
  text-align: center;
  background-color: #ef9c23;
}

.Categories h2 {
  font-size: 3rem;
  padding: 10px;
}
.cate-back1,
.cate-back2,
.cate-back3 {
  padding-top: 3%;
  padding-bottom: 5%;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
  color: white;
  background-color: #21409a;
}
/* Products Seection End */

/*Feature Products Seection Start */

.cross-price {
  text-decoration: line-through;
  margin-right: 10px;
  color: #ef9c23;
}
.feature-sandals {
  padding-top: 5%;
}
.feature-sandals h2 {
  padding-bottom: 15px;
}
.stars {
  color: #ef9c23;
}
/* Feature Seection End */

/* Special Seection Start */

.special-offers {
  padding: 5%;
  margin-top: 25px;
  background-color: #ef9c23;
  color: white;
}
.special-offers h2 {
  padding-bottom: 15px;
  font-weight: bold;
}
.special-message {
  padding: 20px;
}
.special-sandals {
  border-radius: 15px;
}
/* Special Seection End */

/* Values Section  Start */
.values {
  padding: 3%;
}
.values h2 {
  font-weight: bold;
  padding: 20px;
}
.values-message {
  width: 250px;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
}
/* Values Section  End */

.footer {
  text-align: center;
  background-color: #ef9c23;
}
.footer h2 {
  padding: 10px;
}
.footer-content {
  padding: 15px;
}
.logo p {
  font-size: 20px;
  width: 250px;
}
.copy {
  width: 100%;
  font-size: 18px;
}
