:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  color: #21409a;
}
.navbar-brand:hover,
.newNav:hover {
  color: white;
}
.newNav {
  font-size: 1.5rem;
  background-color: #ef9c23;
  color: #21409a;
}
.header-message {
  padding: 5%;
  text-align: center;
}
.limited-offers {
  padding: 5%;
}
